p{% load static %}

<!-- 기본 페이지 레이아웃 구조 -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width" , initial-scale="1" />

    <!-- 부트스트랩 css 적용 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- font-awesom CDN 추가 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- slick-carousel CSS CDN 추가 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- main.css 추가 -->
    <link rel="stylesheet" href="static/css/main.css" />

    <!-- title -->
    <title>MORE | {% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon/favicon.png' %}"
    />
  </head>

  <body>
    <!-- 네비게이션바 구현 -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark py-1 shadow-lg sticky-top"
    >
      <div class="container-xxl">
        <a href="#" class="navbar-brand align-middle">
          <h3 class="m-0">
            <img
              src="static/images/logo/huns-logo.png"
              alt="Logo"
              height="36px"
            />
            Hun's Dashboard
          </h3>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expand="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="#top" class="nav-link"> Home </a>
            </li>
            <li class="nav-item">
              <a href="#intro" class="nav-link"> Intro </a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link"> Services </a>
            </li>
            <li class="nav-item">
              <a href="#slogan" class="nav-link"> Slogan </a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="nav-link"> Gallery </a>
            </li>
            <li class="nav-item">
              <a href="#cta" class="nav-link"> Contact </a>
            </li>
            <li class="nav-item">
              <a href="#find-us" class="nav-link"> Find us </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="top">
      <div
        class="section-content overlay d-flex justify-content-center align-items-center"
      >
        <div class="container-xxl">
          <div class="row align-items-center">
            <div class="col-md-9 welcome">
              <h1 class="welcome-title fw-light text-light">
                Welcome to
                <span class="text-warning fw-bold"
                  >Hun's dashboard Website</span
                >
              </h1>
              <div class="divider"></div>
              <div class="row welcome-desc">
                <p class="col-sm-10 col-md-12 lead text-light">
                  This page is a website for developing MORE dashboards.
                </p>
                <p class="col-sm-2 col-md-12">
                  <a href="#" class="btn btn-dark">More</a>
                </p>
              </div>
            </div>
            <div class="col-md-3 d-none d-md-block letsgo">
              <div class="card card-body letsgo-card">
                <div class="letsgo my-3">
                  <h4 class="letsgo-title card-title text-dark mb-3">
                    Easy Contact
                  </h4>
                  <p class="card-text text-secondary">
                    If you leave your contact information, we will reply as soon
                    as possible.
                  </p>
                </div>
                <div clas="letsgo-card-form">
                  <form>
                    <div class="mb-2">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                      <input
                      type="tel"
                      class="form-control"
                      placeholder="Phone number"
                      />
                    </div>
                    <div class="form-check mb-2 mt-3">
                      <input type="checkbox" class="form-check-input" id="flexCheckDefault">
                      <label for="flexCheckDefault" class="form-check-label text-secondary">
                        I agree to provide privacy.
                      </label>
                    </div>
                    <p class="mb-3">
                      <button class="btn btn-dark w-100" type="button">Submit</button>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="intro">
      <div class="section-content">
        <div class="container intro">
          <div class="row align-items-center">
            <div class="col-md-7 intro-first">
              <div class="row px-md-3">
                <div class="col-6">
                  <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                    <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                      <h3 class="fw-light">
                        <a href="#" class="link-light text-decoration-none">Link 1</a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                    <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                      <h3 class="fw-light">
                        <a href="#" class="link-light text-decoration-none">Link 2</a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                    <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                      <h3 class="fw-light">
                        <a href="#" class="link-light text-decoration-none">Link 3</a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                    <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                      <h3 class="fw-light">
                        <a href="#" class="link-light text-decoration-none">Link 4</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 intro-second">
              <h5 class="fw-light">Intro</h5>
              <h1 class="mb-4">Introduce our website</h1>
              <div class="intro-text">
                <p class="lead">This website serves to connect power plants and manage connected power plants.</p>
                <p class="lead">
                  It is configured to connect power plants more easily and quickly and to check detailed information of connected power plants in real time.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="section-content">
        <div class="container services">
          <div class='services-header text-center mb-5'>
            <h1 class="display-5">
              Our Services
            </h1>
            <div class="divider"></div>
            <p class="lead text-secondary">
              We enable rapid maintenance through real-time monitoring and control.
            </p>
          </div>
          <div id="slick-slide" class="services-body">
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port1.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 6</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 5 MW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port2.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 1</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 100 kW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port3.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 2</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 500 kW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port4.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 3</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 1 MW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port5.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 4</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 2 MW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
            <div class="services-col mx-2 my-3">
              <div class="card">
                <a href="#">
                  <img src="./static/images/slides/port6.jpg" alt="" class="card-img-top">
                </a>
                <div class="card-body">
                  <h4 class="card-title">Result 5</h4>
                  <p class="card-text fw-light mb-4">
                    We performed maintenance on a 3 MW power plant perfectly.
                  </p>
                  <a href="#" class="btn btn-primary">View more...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="slogan">
      <div class="section-content d-flex align-items-center h-100">
        <div class="container slogan">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-body slogan-card">
                <h1 class="mb-3 mb-3">Our Slogan...</h1>
                <p class="lead">Faster, safer, and longer-lasting solar power plant management</p>
                <p class="lead">provide better services</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="features">
      <div class="section-content">
        <div class="container features">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card card-body shadow border-0 features-card">
                <h4 class="card-title mb-3">
                  <span class="fw-bold">1</span>
                  Feature 1
                </h4>
                <p class="card-text fw-light">We operate an in-house maintenance team, so we can handle it quickly.</p>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card card-body shadow border-0 features-card">
                <h4 class="card-title mb-3">
                  <span class="fw-bold">2</span>
                  Feature 2
                </h4>
                <p class="card-text fw-light">Real-time detection through self-monitoring system is possible, making it safer than anyone else.</p>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card card-body shadow border-0 features-card">
                <h4 class="card-title mb-3">
                  <span class="fw-bold">3</span>
                  Feature 3
                </h4>
                <p class="card-text fw-light">We promise long-term maintenance service based on our long-standing business history.</p>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <section id="gallery">
      <div class="section-content">
        <div class="container gallery">
          <div class="gallery-header text-center mb-5">
            <h1 class="display-4">Our gallery</h4>
            <div class="divider"></div>
            <p class='lead text-secondary'>These are photos of the site we've been working on so far.</p>
          </div>
          <div class="row gallery-body">
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 1</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 2</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 3</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 4</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 5</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 gallery-item">
              <div class="card card-body border-0 p-0">
                <div class="overlay d-flex flex-column justify-content-center align-items-center h-100 w-100 border-2">
                  <h2 class="gallery-title">Gallery 6</h2>
                  <a class="link-warning text-decoration-none" href="#">View this gallery</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id='cta'>
      <div class="section-content h-100 w-100 overlay d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center cta">
          <h3 class="display-6 text-primary">
            Contact us anytime!
          </h3>
          <h2 class="display-4 text-light">
            Please contact us regarding power plant installation.
          </h2>
          <p class="lead text-light mb-4">
            You can make a decision after receiving the power plant installation estimate and portfolio of benefits.
          </p>
          <h1 class="m-0">
            <a href="tel:010-1234-5678" class="link-warning text-decoration-none">010-1234-5678</a>
          </h1>
        </div>
      </div>
    </section>


    <section id="find-us">
      <div class="container-fluid px-0 mb-3">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.931525837019!2d128.97735286553893!3d35.20817453030727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568c005d200d7ed%3A0xab7134c208b6d1ca!2z67aA7IKw6rSR7Jet7IucIOqwleyEnOq1rCDssrTsnKHqs7Xsm5DroZw267KI6ri4!5e0!3m2!1sko!2skr!4v1675324548936!5m2!1sko!2skr" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-8 col-10 find-us">
            <h3>Contact us!</h3>
            <div class="divider"></div>
            <p class="text-secondary">Please contact us regarding power plant installation.</p>
            <div class="d-flex text-secondary">
              <p class="fw-bold me-5">
                <span class="text-uppercase">phone</span>:
                <a href="tel:010-1234-5678" class="text-decoration-none">010-1234-5678</a>
              </p>
              <p class="fw-bold">
                <span class="text-uppercase">email</span>:
                <a href="mailto:sun@gsmail.kr" class="text-decoration-none">sun@gsmail.kr</a>
              </p>
            </div>
            <form action="">
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Your name">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" placeholder="Your email">
              </div>
              <div class="mb-3">
                <textarea rows="3" class="form-control" placeholder="Please write down any question you have."></textarea>
              </div>
              <div class="mb-3">
                <input type="checkbox" id="checkDefault" class="form-check-input">
                <label for="checkDefault" class="form-check-label text-secondary">
                  I agree to provide privacy.
                </label>
              </div>
              <p class="mb-3">
                <button class="btn btn-primary w-100">Send</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer id='footer'>
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 mb-4 text-center footer-1">
              <img src="./static/images/logo/huns-logo.png" alt="Logo" class='img-fluid footer-logo'>
              <div class="sns mt-4">
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/facebook_icon.png" width="38px">
                </a>
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/instagram_icon.png" width="38px">
                </a>
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/twitter_icon.png" width="38px">
                </a>
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/youtube_icon.png" width="38px">
                </a>
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/naver_icon.png" width="38px">
                </a>
                <a target="_blank" href="#" class="mx-1 text-decoration-none social">
                  <img src="./static/images/icon/kakao_icon.png" width="38px">
                </a>
              </div>
            </div>
            <div class="col-md-3 mb-4 footer-2">
              <h4 class="mb-4">Footer 2</h4>
              <ul>
                <li>category 1</li>
                <li>category 2</li>
                <li>category 3</li>
                <li>category 4</li>
              </ul>
            </div>
            <div class="col-md-3 mb-4 footer-3">
              <h4 class="mb-4">Footer 3</h4>
              <ul>
                <li>category 1</li>
                <li>category 2</li>
                <li>category 3</li>
                <li>category 4</li>
              </ul>
            </div>
            <div class="col-md-3 mb-4 footer-4">
              <h4 class="mb-4">Our Infos</h4>
              <div class="info-body">
                <p class="mb-2">
                  <i class="fas fa-user"></i> DEVELOPER : KIM SE-HUN
                </p>
                <p class="mb-2">
                  <i class="fas fa-marked-alt"></i> Address: Busan Gangseo Seoul Korea
                </p>
                <p class="mb-2">
                  <i class="fas fa-phone-square-alt"></i> Tel : 010-1234-5678
                </p>
                <p class="mb-2">
                  <i class="fas fa-hospital"></i> Registered Business Number : 111-11-11111
                </p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript 번들 추가 -->

    <!-- 부트스트랩 js CDN 추가 -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!-- Jquery CDN 추가-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.slim.min.js" integrity="sha512-jxwTCbLJmXPnV277CvAjAcWAjURzpephk0f0nO2lwsvcoDMqBdy1rh1jEwWWTabX1+Grdmj9GFAgtN22zrV0KQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- slick-carousel JS CDN 추가 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
      integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="static/js/main.js"></script>
  </body>
</html>
